<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logofitup"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logofitup_rmbg"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FitUp">
<!--        <activity-->
<!--            android:name=".Location_access"-->
<!--            android:exported="false" />-->
        <!-- <activity -->
        <!-- android:name=".Primary_goal" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".Fitness_Level" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".scroll_weight" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".pick_your_height" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".pick_your_birthday" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SelectGender" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SelectRole"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".OTPcode"
            android:exported="false" />
        <activity
            android:name=".IntroductionPage"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".SplashActivity" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien OTP -->
        <!-- <activity -->
        <!-- android:name=".OTPcode" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien CreateAccount -->
        <!-- <activity -->
        <!-- android:name=".CreateAccount" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien SelectRole -->
        <!-- <activity -->
        <!-- android:name=".SelectRole" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien SelectGender -->
        <!-- <activity -->
        <!-- android:name=".SelectGender" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien pick_your_birthday -->
        <!-- <activity -->
        <!-- android:name=".pick_your_birthday" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien pick_your_height -->
        <!-- <activity -->
        <!-- android:name=".pick_your_height" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien scroll_weight -->
        <!-- <activity -->
        <!-- android:name=".scroll_weight" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Test Giao Dien Fitness_level -->
        <!-- <activity -->
        <!-- android:name=".Fitness_Level" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Base.Theme.FitUp"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <!--Test Giao Dien Primary_goal-->
<!--        <activity-->
<!--            android:name=".Primary_goal"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Base.Theme.FitUp">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity
            android:name=".Location_access"
            android:exported="true"
            android:theme="@style/Base.Theme.FitUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>